DEBUG=True
SECRET_KEY=your-secret-key-here
ALLOWED_HOSTS=127.0.0.1,localhost,0.0.0.0
TIME_ZONE=Europe/Istanbul
LANGUAGE_CODE=tr-tr
# BU İSİMLERİ (SOL TARAFI) SEN BELİRLİYORSUN (Zorunlu değil, tercih)
# DEĞERLER (SAĞ TARAF) DOCKER İLE EŞLEŞMELİ VEYA LOKAL VERİTABANI İLE AYNI OLMALI
DB_NAME=okuldayiz_db
DB_USER=okuldayiz
DB_PASSWORD=your_db_password_here
DB_HOST=127.0.0.1
DB_PORT=3306
